@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#landing {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.landing-page-container {
  height: 100vh;
}

.landing-message-container {
  text-align: left;
  width: 100%;
  height: auto;
}

.landing-message-style {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.message-social-media-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.floatingBung {
  z-index: 1;
}

.responsive-floatingBung {
  margin-left: 20%;
  width: 70%;
  height: auto;
}

.flexbox-container {
  width: 94%;
  height: 90%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* Social media link stuff */
ul {
  padding: 0; 
  display: flex;
  position: relative;
  justify-content: space-evenly;
}

ul li {
  padding: 0;
  list-style: none;
}

ul li a {
  padding: 0;
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  display: block;
  border-radius: 50%; 
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before{
  background: #0077b5;
}

ul li:nth-child(2) a:before{
  background: #171515;
}

ul li:nth-child(3) a:before {
  background: #3b5999;
}

ul li:nth-child(4) a:before {
  background: #dd4b39;
}

/* Waving hand emoji stuff */
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.social-media-links {
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  .flexbox-container {
    flex-direction: column;
  }

  .landing-message-style {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
  }

  .responsive-floatingBung {
    margin: 0;
    width: 70%;
    height: auto;
  }

  ul li a {
    padding: 0;
    width: 60px;
    height: 60px;
    background-color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 26.25px;
    display: block;
    border-radius: 50%; 
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px
  }

  .landing-page-container {
    height: 100vh;
  }

  .floatingBung {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}



