#experience {
    height: auto !important;
    max-width: 80% !important;
    justify-content: center;
    margin: 0 auto;
}

.hide-overflow {
    overflow-x: hidden !important;
}

.experience-header {
    color: white;
    text-align: center;
    font-weight: 300;
}

.experience-subheader {
    color: #FFFFFFCF;
    text-align: center;
    font-weight: 300;
}

.experience {
    font-weight: 600;
}