.experience-img {
    border-radius: 50% !important;
    height: 100% !important;
    width: 100% !important;
    margin: 2em !important;
    position: relative !important;
    z-index: 1 !important;
    max-width: 225px;
    opacity: 0.7 !important;
}

@media (max-width: 800px) {
    .experience-img {
        max-width: 40vw;
    }
}