.experience-card {
    height: auto !important;
    max-width: 100vw !important;
}

.tech-chips {
    color: red;
}

.experience-card-view {
    color: white !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
}
.experience-card-view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.company-style {
    color: white;
    font-weight: 800;
    text-decoration: none;
}

.company-style:hover {
    color: #feda4a;
    font-weight: 800;
}

@media (max-width: 800px) {
    .card-horizontal {
        display: flex;
        flex-direction: column;
    }
}