.project-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
}

.project-heading {
    color: white;
    text-align: center;
    font-weight: 300;
}